[submodule "BaseNaviWidget"]
	path = BaseNaviWidget
	url = https://github.com/Jomart02/BaseNaviWidget.git
	branch = master
[submodule "NavyComponents"]
	path = NavyComponents
	url = https://github.com/Jomart02/NavyComponents.git
