[submodule "BaseNaviWidget"]
	path = BaseNaviWidget
	url = https://github.com/Jomart02/BaseNaviWidget.git
	branch = master
[submodule "thirdparty/qtgamepadlegacy"]
	path = thirdparty/qtgamepadlegacy
	url = https://github.com/Jomart02/qtgamepadlegacy.git
